.header-color{
    background-color: #FFFBF0;
}
.h1-font{
    font-size: 70px;
    font-weight: 400;
}
.h1-span-color{
    color: #FABE4C;
}
.buy-btn-color{
    background-color: #A4BC46;
}
.card-img{
    background-color: #F1F1F1;
    width: 90%;

}
.jacket-price{
    font-size: 36px;
    font-weight: 900;
    color: #FABE4C;
}
.facility-img{
    width: 78px;
height: 82px;
}